.App {
  height: 15000px;
  width: 100vw;
  background: rgb(2, 2, 2);
  display: inline-flex;
  align-items: center;
  padding: 3vw;
}

.main {
  display: inline-flex;
  position: fixed;
  top: 45%;
}

.dateText {
  margin: 0;
  font-size: 1.25rem;
  color: white;
  opacity: 0.9;
}

.timerText {
  margin: 0;
  font-size: 4rem;
  color: #FF5D5D;
  opacity: 0.6;
}

.descriptionText {
  /* float: right; */
  color: white;
  width: 50vw;
  /* margin-right: 20vw; */
  font-size: 2rem;
  font-weight: 800;
  opacity: 0.3;
  transition-duration: 600ms;
  /* margin-top: -5vh; */
  float: right;
}

.title {
  display: inline-flex;
  position: fixed;
  top: 2%;
  color: white;
}

.TwitterBtn {
  height: 7.5vh;
  width: 20vw;
  cursor: pointer;
  border: none;
  /* border-radius: 1.5rem; */
  background: none;
  /* background: linear-gradient(90deg, #06F 0%, #A1C7FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  /* background-color: white !important; */
}

.noOpacity {
  opacity: 0;
  /* transition-duration: 600ms;  */
  animation-name: example;
  animation-duration: 600ms;
}

@keyframes example {
  from {opacity: 0;}
  to {opacity: 0.3;}
}

@keyframes examplefull {
  from {opacity: 0;}
  to {opacity: 1;}
}